<h1>All Chocolates</h1>
<div class="col-md-5">
  <table class="table table-bordered">
    {{#each results}}
    <tr>
      <td>
        {{chocolates}}
      </td>
      <td>
        {{satisfaction_level}}
      </td>
    </tr>
    {{/each}}
  </table>
</div>
