<div>
  <form>
    Name:<br> <input type="text" name="Namee"><br>
    Phone Number:<br> <input type="text" name="Phone Number"><br>
    Message:<br> <textarea rows="4" cols="50"></textarea> <br>
    <button type="submit" width=50px>Submit</button>
  </form>
</div>
